@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2")
    format("woff2");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2")
    format("woff2");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2")
    format("woff2");
  font-weight: 900;
  font-display: swap;
}

* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #1c1b1a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Pretendard;
}

header {
  display: flex;
  height: 80px;
  gap: 113px;
  align-items: flex-start;
  padding-right: 420px;
  align-self: stretch;
}

.logo {
  display: flex;
  padding: 0 80px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.ds_header {
  display: flex;
  height: 80px;
  align-items: center;
  gap: 24px;
}

.ds_header > a {
  white-space: nowrap;
  color: #fff;
  font-family: Pretendard;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -0.6px;
  padding: 12px 10px;
}
#step2 {
  margin: 0px;
  padding: 0px;
}

h3 {
  color: #fff;
  font-family: Pretendard;
  font-size: 40px;
  font-weight: 500;
  margin: 0px;
}

.main {
  display: flex;
  padding-bottom: 120px;
  align-items: flex-start;
  margin: 0px 160px 147px;
}

.section_info {
  color: #fff;
  display: flex;
  width: 904px;
  padding: 40px 0;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 256px;
}

.section_info h3 {
  margin-bottom: 120px;
}

.info_div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.info_div > p {
  color: #fff;
  font-weight: 200;
  font-size: 20px;
  font-family: Pretendard;

  display: flex;
  width: 208px;
  height: 59px;
  flex-direction: column;
  justify-content: center;
}

.info_div > div {
  width: 400px;
}

.info_div input {
  width: 368px;
  display: flex;
  border-radius: 9999px;
  padding: 16px;
  align-self: stretch;

  appearance: none;
  -webkit-appearance: none;

  font-family: Pretendard;
  color: #8c827d;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: -0.54px;
}

#ex {
  display: flex;
  padding: 16px;
  align-items: center;

  color: #8c827d;
  font-family: Pretendard;
  font-style: normal;
  font-size: 14px;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: -0.42px;
}

.ex {
  padding: 16px;
  color: #8c827d;
  font-family: Pretendard;
  font-style: normal;
  font-size: 14px;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: -0.42px;
}

input {
  border: none;
  outline: none;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
}
